# before using this file modify name and email under [user]
[filter "lfs"]
   clean = git-lfs clean %f
   smudge = git-lfs smudge %f
   required = true
[user]
   name = firstname lastname
   email = emailaddress@email.com
[alias]
   co = checkout
   br = branch
   ci = commit
   st = status
   undo = "! f() { git clean -df && git checkout -- . }; f"
   permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply
   reset-to-remote = "! git clean -d -f && git fetch origin && git checkout master && git reset --hard origin/master"
[core]
   excludesfile = ~/.gitignore_global
   editor = vim
   autocrlf = input
[commit]
   template = ~/.gitmessage.txt
